  <h3>User list</h3>
<div *ngIf="userList$ | async as users">
  <div *ngFor="let user of users">
    <button (click)="getUserData(user.uid)">{{user.firstName}} {{user.lastName}} {{user.email}}</button>
</div>
<div *ngIf="selectedUser$ | async as user">
  <div *ngIf="barChartData" class="char-container" >
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="charType">
    </canvas>
  <button (click)="getUserData(user)">Day</button>
  <button (click)="getUserDataForWeek(user)">Week</button>
  <button (click)="getUserDataForMonth(user)">Month</button>
</div>
</div>
