<div>
  <h3>User list</h3>
  <div *ngFor="let user of userList$ | async">
    <button (click)="getUserData(user.uid)">{{user.firstName}} {{user.lastName}} {{user.email}}</button>
</div>
</div>
<div *ngIf="userMoodList$| async">
  <div *ngFor="let mood of userMoodList$ | async">
    <div>{{mood.date}}</div>
    <div>{{mood.mood_organization}}</div>
    <div>{{mood.mood_team}}</div>
    <div>{{mood.mood_yourself}}</div>
  </div>

<!--  <div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType">
    </canvas>
  </div>-->

</div>
