<h2 mat-dialog-title>Title</h2>

<mat-dialog-content>
  <form [formGroup]="addUserForm">
    <input type="text" formControlName="email" placeholder="E-mail">
    <input type="password" formControlName="password" placeholder="Password">
    <input type='text' formControlName="firstName" placeholder="First Name">
    <input type='text' formControlName="lastName" placeholder="Last Name">
    <select name="role" formControlName="role">
      <option value="">Select role</option>
      <option value="2">Admin</option>
      <option value="1">Manager</option>
      <option value="0">Worker</option>
    </select>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="addUser()">Add user</button>
  <button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
